*{
    box-sizing: border-box;
}
header{
    background-color: navy;
}
.hero{
    position: relative;
}
#contact{
    background-color: navy;
}
nav{
    background-color: grey;
    display: flex;
    gap: 20px;
}