*{
    box-sizing: border-box;
}
header{
    background-color: navy;
}
.hero{
    position: relative;
}
#badge{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index:2;
}
.behind{
    color:orange;
    z-index:1;
}
   
#contact{
    background-color: navy;
}
nav{
    background-color: grey;
    display: flex;
    gap: 20px;
}
.note{
    color: red;
}
#status{
    color:navy;
}
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background: #fff8e7;
  padding: 1rem;
  border: 1px solid #ccc;
}